div.form-dashboard-section > div.section-head {
    display: none;
}

/*.form-dashboard {*/
/*    background-color: #f9fafa;  !*#f5f7fa;*!*/
/*}*/

.dt-scrollable div.dt-row:nth-child(even) {
  background-color: var(--bg-color);
}
.dt-cell {
  background-color: transparent;
}
.links-widget-box {
  background-color: var(--control-bg);
  border: 1px var(--sidebar-select-color) solid;
}
/* On cache le bouton de création d'un nouveau workspace */
#page-Workspaces .custom-actions {
    display: none
}
div.standard-sidebar-label {
  display: none;
}
div.form-page {
    padding-bottom: 1rem;
}
.page-form {
    background-color: var(--sidebar-select-color);
    box-shadow: none;
}
.form-tabs-list {
    background-color: var(--sidebar-select-color); /* var(--blue-100);  */
    border-top-left-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);
}
.form-tabs-list .form-tabs .nav-item .nav-link.active {
    border-bottom: 3px solid var(--primary);
}
.form-control {
    border-style: solid;
    border-color: var(--gray-300);
}
div.table-multiselect > button.data-pill {
    background-color: var(--yellow-200);
}
.widget.quick-list-widget-box {
    background-color: var(--control-bg);
    border: 1px var(--sidebar-select-color) solid;
}
.widget.quick-list-widget-box .widget-body .quick-list-item {
    border-bottom: 1px var(--sidebar-select-color) solid;
}
div.edit-grid-row {
    display: none;
}

div.edit-grid-row {
    display: none;
}

.layout-side-section {
    display: none;
}
.layout-main-section {
    width: 100%;
}